openapi: 3.0.0
info:
  title: ktpro-api
  version: '2.0'
  description: Client REST API for Kegtron Pro Keg Monitors
  contact:
    email: info@kegtron.com
    name: Kegtron
    url: kegtron.com
servers:
  - url: 'https://mdash.net'
paths:
  /api/v2/m/device:
    get:
      summary: Device GET
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  shadow:
                    type: object
                    required:
                      - state
                    properties:
                      state:
                        type: object
                        required:
                          - reported
                        properties:
                          reported:
                            type: object
                            required:
                              - config
                              - config_readonly
                              - online
                              - ota
                            properties:
                              config:
                                type: object
                                required:
                                  - afterHoursAlertEmailEna
                                  - afterHoursAlertSmsEna
                                  - alertEmail
                                  - alertSmsToNumber
                                  - autoCounterRstEna
                                  - beaconEna
                                  - bizHourFriDuration
                                  - bizHourFriStart
                                  - bizHourMonDuration
                                  - bizHourMonStart
                                  - bizHourSatDuration
                                  - bizHourSatStart
                                  - bizHourSunDuration
                                  - bizHourSunStart
                                  - bizHourThuDuration
                                  - bizHourThuStart
                                  - bizHourTueDuration
                                  - bizHourTueStart
                                  - bizHourWedDuration
                                  - bizHourWedStart
                                  - bleEna
                                  - cleanDetectPeriodMs
                                  - cleaningDelay
                                  - displayUnits
                                  - emptyThreshold
                                  - emptyThresholdAlertEmailEna
                                  - emptyThresholdAlertSmsEna
                                  - humidityOffset
                                  - lowThreshold
                                  - lowThresholdAlertEmailEna
                                  - lowThresholdAlertSmsEna
                                  - port0
                                  - port1
                                  - secWiFiPass
                                  - secWiFiSSID
                                  - servingMs
                                  - siteName
                                  - tempOffset
                                  - timezone
                                  - timezoneLoc
                                properties:
                                  afterHoursAlertEmailEna:
                                    type: number
                                  afterHoursAlertSmsEna:
                                    type: number
                                  alertEmail:
                                    type: string
                                    minLength: 1
                                  alertSmsToNumber:
                                    type: string
                                    minLength: 1
                                  autoCounterRstEna:
                                    type: number
                                  beaconEna:
                                    type: number
                                  bizHourFriDuration:
                                    type: number
                                  bizHourFriStart:
                                    type: string
                                    minLength: 1
                                  bizHourMonDuration:
                                    type: number
                                  bizHourMonStart:
                                    type: string
                                    minLength: 1
                                  bizHourSatDuration:
                                    type: number
                                  bizHourSatStart:
                                    type: string
                                    minLength: 1
                                  bizHourSunDuration:
                                    type: number
                                  bizHourSunStart:
                                    type: string
                                    minLength: 1
                                  bizHourThuDuration:
                                    type: number
                                  bizHourThuStart:
                                    type: string
                                    minLength: 1
                                  bizHourTueDuration:
                                    type: number
                                  bizHourTueStart:
                                    type: string
                                    minLength: 1
                                  bizHourWedDuration:
                                    type: number
                                  bizHourWedStart:
                                    type: string
                                    minLength: 1
                                  bleEna:
                                    type: number
                                  cleanDetectPeriodMs:
                                    type: number
                                  cleaningDelay:
                                    type: number
                                  displayUnits:
                                    type: number
                                  emptyThreshold:
                                    type: number
                                  emptyThresholdAlertEmailEna:
                                    type: number
                                  emptyThresholdAlertSmsEna:
                                    type: number
                                  humidityOffset:
                                    type: number
                                  lowThreshold:
                                    type: number
                                  lowThresholdAlertEmailEna:
                                    type: number
                                  lowThresholdAlertSmsEna:
                                    type: number
                                  port0:
                                    type: object
                                    required:
                                      - abv
                                      - beaconEna
                                      - calOffset
                                      - drinkSize
                                      - ibu
                                      - maker
                                      - state
                                      - style
                                      - tapLabel
                                      - userDesc
                                      - userName
                                      - volSize
                                    properties:
                                      abv:
                                        type: number
                                      beaconEna:
                                        type: number
                                      calOffset:
                                        type: number
                                      drinkSize:
                                        type: number
                                      ibu:
                                        type: number
                                      maker:
                                        type: string
                                        minLength: 1
                                      state:
                                        type: number
                                      style:
                                        type: string
                                        minLength: 1
                                      tapLabel:
                                        type: string
                                        minLength: 1
                                      userDesc:
                                        type: string
                                        minLength: 1
                                      userName:
                                        type: string
                                        minLength: 1
                                      volSize:
                                        type: number
                                  port1:
                                    type: object
                                    required:
                                      - abv
                                      - beaconEna
                                      - calOffset
                                      - drinkSize
                                      - ibu
                                      - maker
                                      - state
                                      - style
                                      - tapLabel
                                      - userDesc
                                      - userName
                                      - volSize
                                    properties:
                                      abv:
                                        type: number
                                      beaconEna:
                                        type: number
                                      calOffset:
                                        type: number
                                      drinkSize:
                                        type: number
                                      ibu:
                                        type: number
                                      maker:
                                        type: string
                                      state:
                                        type: number
                                      style:
                                        type: string
                                      tapLabel:
                                        type: string
                                        minLength: 1
                                      userDesc:
                                        type: string
                                      userName:
                                        type: string
                                        minLength: 1
                                      volSize:
                                        type: number
                                  port2:
                                    type: object
                                    required:
                                      - abv
                                      - beaconEna
                                      - calOffset
                                      - drinkSize
                                      - ibu
                                      - maker
                                      - state
                                      - style
                                      - tapLabel
                                      - userDesc
                                      - userName
                                      - volSize
                                    properties:
                                      abv:
                                        type: number
                                      beaconEna:
                                        type: number
                                      calOffset:
                                        type: number
                                      drinkSize:
                                        type: number
                                      ibu:
                                        type: number
                                      maker:
                                        type: string
                                      state:
                                        type: number
                                      style:
                                        type: string
                                      tapLabel:
                                        type: string
                                        minLength: 1
                                      userDesc:
                                        type: string
                                      userName:
                                        type: string
                                        minLength: 1
                                      volSize:
                                        type: number
                                  port3:
                                    type: object
                                    required:
                                      - abv
                                      - beaconEna
                                      - calOffset
                                      - drinkSize
                                      - ibu
                                      - maker
                                      - state
                                      - style
                                      - tapLabel
                                      - userDesc
                                      - userName
                                      - volSize
                                    properties:
                                      abv:
                                        type: number
                                      beaconEna:
                                        type: number
                                      calOffset:
                                        type: number
                                      drinkSize:
                                        type: number
                                      ibu:
                                        type: number
                                      maker:
                                        type: string
                                      state:
                                        type: number
                                      style:
                                        type: string
                                      tapLabel:
                                        type: string
                                        minLength: 1
                                      userDesc:
                                        type: string
                                      userName:
                                        type: string
                                        minLength: 1
                                      volSize:
                                        type: number
                                  secWiFiPass:
                                    type: string
                                    minLength: 1
                                  secWiFiSSID:
                                    type: string
                                    minLength: 1
                                  servingMs:
                                    type: number
                                  siteName:
                                    type: string
                                    minLength: 1
                                  tempOffset:
                                    type: number
                                  timezone:
                                    type: string
                                    minLength: 1
                                  timezoneLoc:
                                    type: string
                                    minLength: 1
                              config_readonly:
                                type: object
                                required:
                                  - cleanActive
                                  - connectedWiFiSSID
                                  - fwRev
                                  - humidity
                                  - hwRev
                                  - macAddr
                                  - modelNum
                                  - pcbRev
                                  - port0
                                  - port1
                                  - port2
                                  - port3
                                  - portCount
                                  - priWiFiPass
                                  - priWiFiSSID
                                  - serialNum
                                  - temp
                                properties:
                                  cleanActive:
                                    type: number
                                  connectedWiFiSSID:
                                    type: string
                                    minLength: 1
                                  fwRev:
                                    type: number
                                  humidity:
                                    type: number
                                  hwRev:
                                    type: number
                                  macAddr:
                                    type: string
                                    minLength: 1
                                  modelNum:
                                    type: string
                                    minLength: 1
                                  pcbRev:
                                    type: number
                                  port0:
                                    type: object
                                    required:
                                      - dateCleaned
                                      - dateTapped
                                      - kFactor
                                      - kegsServed
                                      - lastServing
                                      - pulseCnt
                                      - volDisp
                                      - volStart
                                    properties:
                                      dateCleaned:
                                        type: string
                                        minLength: 1
                                      dateTapped:
                                        type: string
                                        minLength: 1
                                      kFactor:
                                        type: number
                                      kegsServed:
                                        type: number
                                      lastServing:
                                        type: number
                                      pulseCnt:
                                        type: number
                                      volDisp:
                                        type: number
                                      volStart:
                                        type: number
                                  port1:
                                    type: object
                                    required:
                                      - dateCleaned
                                      - dateTapped
                                      - kFactor
                                      - kegsServed
                                      - lastServing
                                      - pulseCnt
                                      - volDisp
                                      - volStart
                                    properties:
                                      dateCleaned:
                                        type: string
                                      dateTapped:
                                        type: string
                                      kFactor:
                                        type: number
                                      kegsServed:
                                        type: number
                                      lastServing:
                                        type: number
                                      pulseCnt:
                                        type: number
                                      volDisp:
                                        type: number
                                      volStart:
                                        type: number
                                  port2:
                                    type: object
                                    required:
                                      - dateCleaned
                                      - dateTapped
                                      - kFactor
                                      - kegsServed
                                      - lastServing
                                      - pulseCnt
                                      - volDisp
                                      - volStart
                                    properties:
                                      dateCleaned:
                                        type: string
                                      dateTapped:
                                        type: string
                                      kFactor:
                                        type: number
                                      kegsServed:
                                        type: number
                                      lastServing:
                                        type: number
                                      pulseCnt:
                                        type: number
                                      volDisp:
                                        type: number
                                      volStart:
                                        type: number
                                  port3:
                                    type: object
                                    required:
                                      - dateCleaned
                                      - dateTapped
                                      - kFactor
                                      - kegsServed
                                      - lastServing
                                      - pulseCnt
                                      - volDisp
                                      - volStart
                                    properties:
                                      dateCleaned:
                                        type: string
                                      dateTapped:
                                        type: string
                                      kFactor:
                                        type: number
                                      kegsServed:
                                        type: number
                                      lastServing:
                                        type: number
                                      pulseCnt:
                                        type: number
                                      volDisp:
                                        type: number
                                      volStart:
                                        type: number
                                  portCount:
                                    type: number
                                  priWiFiPass:
                                    type: string
                                    minLength: 1
                                  priWiFiSSID:
                                    type: string
                                    minLength: 1
                                  serialNum:
                                    type: string
                                    minLength: 1
                                  temp:
                                    type: number
                              online:
                                type: boolean
                              ota:
                                type: object
                                required:
                                  - id
                                properties:
                                  id:
                                    type: string
                                    minLength: 1
                required:
                  - id
                  - shadow
              examples:
                Example KT-420:
                  value:
                    id: device2
                    shadow:
                      state:
                        reported:
                          config:
                            afterHoursAlertEmailEna: 0
                            afterHoursAlertSmsEna: 0
                            alertEmail: user@example.com
                            alertSmsToNumber: '+15005550111'
                            autoCounterRstEna: 1
                            beaconEna: 0
                            bizHourFriDuration: 480
                            bizHourFriStart: '08:00'
                            bizHourMonDuration: 480
                            bizHourMonStart: '08:00'
                            bizHourSatDuration: 480
                            bizHourSatStart: '08:00'
                            bizHourSunDuration: 480
                            bizHourSunStart: '08:00'
                            bizHourThuDuration: 480
                            bizHourThuStart: '08:00'
                            bizHourTueDuration: 480
                            bizHourTueStart: '08:00'
                            bizHourWedDuration: 480
                            bizHourWedStart: '08:00'
                            bleEna: 0
                            cleanDetectPeriodMs: 120000
                            cleaningDelay: 90
                            displayUnits: 0
                            emptyThreshold: 10
                            emptyThresholdAlertEmailEna: 0
                            emptyThresholdAlertSmsEna: 0
                            humidityOffset: 0
                            lowThreshold: 20
                            lowThresholdAlertEmailEna: 0
                            lowThresholdAlertSmsEna: 0
                            port0:
                              abv: 6
                              beaconEna: 0
                              calOffset: 0
                              drinkSize: 473
                              ibu: 11
                              maker: Anheuser-Busch
                              state: 1
                              style: Malt Liquor
                              tapLabel: '1'
                              userDesc: Don't let the smooth taste fool ya
                              userName: King Cobra
                              volSize: 58670
                            port1:
                              abv: 4.6
                              beaconEna: 0
                              calOffset: 0
                              drinkSize: 473
                              ibu: 12
                              maker: Pabst Brewing
                              state: 1
                              style: Pale Lager - North American
                              tapLabel: '2'
                              userDesc: Tastes as great as its name
                              userName: Old Milwaukee
                              volSize: 58670
                            port2:
                              abv: 4.6
                              beaconEna: 0
                              calOffset: 0
                              drinkSize: 473
                              ibu: 13
                              maker: Pabst Brewing
                              state: 1
                              style: Pale Lager - North American
                              tapLabel: '3'
                              userDesc: The beer that made Milwaukee famous
                              userName: Schlitz
                              volSize: 29340
                            port3:
                              abv: 5.9
                              beaconEna: 0
                              calOffset: 0
                              drinkSize: 473
                              ibu: 14
                              maker: Miller Brewing
                              state: 1
                              style: Malt Liquor
                              tapLabel: '4'
                              userDesc: The King of Malt Liquor
                              userName: Olde English 800
                              volSize: 58670
                            secWiFiPass: backItUp
                            secWiFiSSID: Backup WiFi
                            servingMs: 5000
                            siteName: Moe's Tavern
                            tempOffset: 0
                            timezone: 'PST8PDT,M3.2.0,M11.1.0'
                            timezoneLoc: America/Los_Angeles
                          config_readonly:
                            cleanActive: 0
                            connectedWiFiSSID: Main WiFi
                            fwRev: 20200507
                            humidity: 66.5665
                            hwRev: 20200101
                            macAddr: 30AEA4426928
                            modelNum: KT-420
                            pcbRev: 1
                            port0:
                              dateCleaned: 2020/03/01
                              dateTapped: 2020/03/28
                              kFactor: 472
                              kegsServed: 1
                              lastServing: 262
                              pulseCnt: 3075
                              volDisp: 6934
                              volStart: 10376
                            port1:
                              dateCleaned: 2020/02/15
                              dateTapped: 2020/03/10
                              kFactor: 472
                              kegsServed: 0
                              lastServing: 125
                              pulseCnt: 6862
                              volDisp: 15287
                              volStart: 58670
                            port2:
                              dateCleaned: 2020/02/05
                              dateTapped: 2020/03/20
                              kFactor: 472
                              kegsServed: 0
                              lastServing: 652
                              pulseCnt: 5032
                              volDisp: 10650
                              volStart: 29340
                            port3:
                              dateCleaned: 2020/02/28
                              dateTapped: 2020/04/14
                              kFactor: 472
                              kegsServed: 0
                              lastServing: 370
                              pulseCnt: 9682
                              volDisp: 20481
                              volStart: 58670
                            portCount: 4
                            priWiFiPass: mainStreet
                            priWiFiSSID: Main WiFi
                            serialNum: '2001011234'
                            temp: 8.2346
                          online: true
                          ota:
                            id: 867a4c0e6e721e57
                Example KT-220:
                  value:
                    id: device3
                    shadow:
                      state:
                        reported:
                          config:
                            afterHoursAlertEmailEna: 0
                            afterHoursAlertSmsEna: 0
                            alertEmail: user@example.com
                            alertSmsToNumber: '+15005550111'
                            autoCounterRstEna: 1
                            beaconEna: 0
                            bizHourFriDuration: 480
                            bizHourFriStart: '08:00'
                            bizHourMonDuration: 480
                            bizHourMonStart: '08:00'
                            bizHourSatDuration: 480
                            bizHourSatStart: '08:00'
                            bizHourSunDuration: 480
                            bizHourSunStart: '08:00'
                            bizHourThuDuration: 480
                            bizHourThuStart: '08:00'
                            bizHourTueDuration: 480
                            bizHourTueStart: '08:00'
                            bizHourWedDuration: 480
                            bizHourWedStart: '08:00'
                            bleEna: 0
                            cleanDetectPeriodMs: 120000
                            cleaningDelay: 90
                            displayUnits: 0
                            emptyThreshold: 10
                            emptyThresholdAlertEmailEna: 0
                            emptyThresholdAlertSmsEna: 0
                            humidityOffset: 0
                            lowThreshold: 20
                            lowThresholdAlertEmailEna: 0
                            lowThresholdAlertSmsEna: 0
                            port0:
                              abv: 5.6
                              beaconEna: 0
                              calOffset: 0
                              drinkSize: 473
                              ibu: 15
                              maker: Pabst Brewing
                              state: 1
                              style: Malt Liquor
                              tapLabel: '5'
                              userDesc: It works every time
                              userName: Colt 45
                              volSize: 58670
                            port1:
                              abv: 4.7
                              beaconEna: 0
                              calOffset: 0
                              drinkSize: 473
                              ibu: 10
                              maker: Miller Brewing
                              state: 1
                              style: Pale Lager - North American
                              tapLabel: '6'
                              userDesc: From the land of sky blue waters
                              userName: Hamms
                              volSize: 58670
                            port2:
                              abv: 0
                              beaconEna: 0
                              calOffset: 0
                              drinkSize: 473
                              ibu: 0
                              maker: ''
                              state: 0
                              style: ''
                              tapLabel: ''
                              userDesc: ''
                              userName: ''
                              volSize: 58670
                            port3:
                              abv: 0
                              beaconEna: 0
                              calOffset: 0
                              drinkSize: 473
                              ibu: 0
                              maker: ''
                              state: 0
                              style: ''
                              tapLabel: ''
                              userDesc: ''
                              userName: ''
                              volSize: 58670
                            secWifiPass: backItUp
                            secWiFiSSID: Backup WiFi
                            servingMs: 5000
                            siteName: Moe's Tavern
                            tempOffset: 0
                            timezone: 'PST8PDT,M3.2.0,M11.1.0'
                            timezoneLoc: America/Los_Angeles
                          config_readonly:
                            cleanActive: 0
                            connectedWiFiSSID: Main WiFi
                            fwRev: 20200507
                            humidity: 67.0665
                            hwRev: 20200101
                            macAddr: 30AEA4CB8768
                            modelNum: KT-220
                            pcbRev: 1
                            port0:
                              dateCleaned: 2020/03/01
                              dateTapped: 2020/03/28
                              kFactor: 472
                              kegsServed: 1
                              lastServing: 262
                              pulseCnt: 3075
                              volDisp: 6934
                              volStart: 10376
                            port1:
                              dateCleaned: 2020/02/15
                              dateTapped: 2020/03/10
                              kFactor: 472
                              kegsServed: 0
                              lastServing: 125
                              pulseCnt: 6862
                              volDisp: 15287
                              volStart: 58670
                            port2:
                              dateCleaned: ''
                              dateTapped: ''
                              kFactor: 472
                              kegsServed: 0
                              lastServing: 0
                              pulseCnt: 0
                              volDisp: 0
                              volStart: 58670
                            port3:
                              dateCleaned: ''
                              dateTapped: ''
                              kFactor: 472
                              kegsServed: 0
                              lastServing: 0
                              pulseCnt: 0
                              volDisp: 0
                              volStart: 58670
                            portCount: 2
                            priWiFiPass: mainStreet
                            priWiFiSSID: Main WiFi
                            serialNum: '2001020345'
                            temp: 8.93477
                          online: true
                          ota:
                            id: 867a4c0e6e721e57
      operationId: get-m-device
      security:
        - DEVICE_PUBLIC_KEY: []
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: content-type
          required: true
      description: |-
        Return Device Object

        Calling this endpoint returns all device state information from the device shadow. 

        NOTE:
        - Device ports are numbered 0,1,2,3 which correspond to user port numbers 1,2,3,4
        - Four port objects will always be returned
        - If shadow.state.reported.config.portCount < 4, the upper port objects can be ignored
    post:
      summary: Device POST
      operationId: post-m-device
      responses:
        '200':
          description: OK
      security:
        - DEVICE_PUBLIC_KEY: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                shadow:
                  type: object
                  required:
                    - state
                  properties:
                    state:
                      type: object
                      required:
                        - desired
                      properties:
                        desired:
                          type: object
                          required:
                            - config
                          properties:
                            config:
                              type: object
                              properties:
                                afterHoursAlertEmailEna:
                                  type: integer
                                afterHoursAlertSmsEna:
                                  type: integer
                                alertEmail:
                                  type: string
                                alertSmsToNumber:
                                  type: string
                                autoCounterRstEna:
                                  type: integer
                                beaconEna:
                                  type: integer
                                bizHourFriDuration:
                                  type: integer
                                bizHourFriStart:
                                  type: string
                                bizHourMonDuration:
                                  type: integer
                                bizHourMonStart:
                                  type: string
                                bizHourSatDuration:
                                  type: integer
                                bizHourSatStart:
                                  type: string
                                bizHourSunDuration:
                                  type: integer
                                bizHourSunStart:
                                  type: string
                                bizHourThuDuration:
                                  type: integer
                                bizHourThuStart:
                                  type: string
                                bizHourTueDuration:
                                  type: integer
                                bizHourTueStart:
                                  type: string
                                bizHourWedDuration:
                                  type: integer
                                bizHourWedStart:
                                  type: string
                                bleEna:
                                  type: integer
                                cleanDetectPeriodMs:
                                  type: integer
                                cleanEna:
                                  type: integer
                                  deprecated: true
                                cleaningDelay:
                                  type: integer
                                  description: Delay in minutes after which time cleaning mode will automatically be disabled
                                displayUnits:
                                  type: integer
                                  description: '0: Metric, 1: US Customary'
                                emptyThreshold:
                                  type: integer
                                emptyThresholdAlertEmailEna:
                                  type: integer
                                emptyThresholdAlertSmsEna:
                                  type: integer
                                humidityOffset:
                                  type: number
                                  description: Offset applied to all measurements
                                lowThreshold:
                                  type: integer
                                lowThresholdAlertEmailEna:
                                  type: integer
                                lowThresholdAlertSmsEna:
                                  type: integer
                                port0:
                                  $ref: '#/components/schemas/port-config'
                                port1:
                                  $ref: '#/components/schemas/port-config'
                                port2:
                                  $ref: '#/components/schemas/port-config'
                                port3:
                                  $ref: '#/components/schemas/port-config'
                                secWiFiPass:
                                  type: string
                                  description: Secondary WiFi password
                                secWiFiSSID:
                                  type: string
                                  description: Secondary WiFi SSID
                                servingMs:
                                  type: integer
                                  description: Time between servings in ms
                                siteName:
                                  type: string
                                  description: Site name
                                tempOffset:
                                  type: number
                                  description: Offset applied to all measurements
                                timezone:
                                  type: string
                                  description: Time Zone in GNU TZ format
                                timezoneLoc:
                                  type: string
                                  description: Time Zone Location
              required:
                - shadow
        description: ''
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: content-type
          required: true
          description: ''
      description: |-
        Update Device Shadow

        Any or or object keys parameters may be written to the device shadow. If the device is offline, any changes will be queued by the shadow and written to device when it is back online. 
    parameters: []
  /customer:
    get:
      summary: Customer GET
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated_at:
                    type: string
                    description: Customer object updated date+time
                  created_at:
                    type: string
                    description: Customer object creation date+time
                  pubkeys:
                    type: object
                    required:
                      - key1
                    properties:
                      key1:
                        description: Device 1 public key
                        nullable: true
                        type: string
                      key2:
                        description: Device 2 public key
                        nullable: true
                        type: string
                      keyn:
                        description: Device n public key
                        nullable: true
                        type: string
                  token:
                    type: string
                    description: Customer token
                  email:
                    type: string
                    description: Customer email address
                  app_id:
                    type: string
                    description: mDash application id specific to Kegtron
                  id:
                    type: string
                    description: CUSTOMER_KEY
                required:
                  - updated_at
                  - created_at
                  - pubkeys
                  - token
                  - email
                  - app_id
                  - id
              examples:
                'Example: Customer with two devices':
                  value:
                    id: 2SIK4J8MhccQsflmaQP4d54
                    app_id: UCzqkgYtz91FnYAIo0uulaA
                    email: user@example.com
                    token: pKPaC1kTQ8leL3ejsY4PkFi1uYyJfAEbfjhrXpmNgsGGCgmFM8q9n
                    pubkeys:
                      LKueHqA7xsR68tdYgv4JpO: {}
                      wgpxg9Y0PQjE8U7ZNGfz9v: {}
                    created_at: '2019-12-15T23:30:07.744123249Z'
                    updated_at: '2020-02-22T02:58:12.21228205Z'
      operationId: get-customer2
      description: |-
        Return Customer Object

        The primary use for this endpoint is to obtain a list of devices and respecitve DEVICE_PUBLIC_KEYs assigned to a customer. These device keys enable GET and POST calls to the /api/v2/m/device endpoints.

        This endpoint can be called in two different ways:
        1) Use basic auth with username:password
        2) Use the CUSTOMER_KEY* as the access_token

        Both methods return an identical customer object.

        * If you don't have the CUSTOMER_KEY, use method #1 (basic auth) to obtain the customer object. The 'token' value within this object is the CUSTOMER_KEY.
      security:
        - basic-auth: []
        - CUSTOMER_KEY: []
    parameters: []
    post:
      summary: Customer POST
      operationId: post-customer
      responses:
        '200':
          description: OK
      description: This endpoint allows modification of the Customer object metadata with account-specific info. All other keys within the Customer object are read-only.
      security:
        - CUSTOMER_KEY: []
      parameters:
        - schema:
            type: string
            default: application-json
          in: header
          name: content-type
          required: true
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                cconfig:
                  type: object
                  description: Customer metadata object
                  properties:
                    bizDayStart:
                      type: string
                      description: 'Business day start time string in "HH:MM" 24 hour format'
                      default: '08:00'
              required:
                - cconfig
            examples:
              'Set start of biz day to 10:00am':
                value:
                  cconfig:
                    bizDayStart: '10:00'
        description: ''
  /api/v2/m/device/rpc/Kegtron.GetTempHumidity:
    post:
      summary: Get Temperature and Humidity RPC POST
      operationId: post-api-v2-m-device-rpc-Kegtron.GetTempHumidity
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  temp:
                    type: number
                    description: Device temperature in degrees Celsius
                  humidity:
                    type: number
                    description: Device relative humdity percentage
                required:
                  - temp
                  - humidity
              examples:
                Example:
                  value:
                    temp: 24.0311
                    humidity: 56.849
      description: |-
        This remote procedure call (RPC) fetches the current temperature and humidity of the keg monitor device. It does not report temp/humdidity for specific ports.

        When called, the following shadow values are updated:

        - config_readonly.humidity
        - config_readonly.temp
      security:
        - DEVICE_PUBLIC_KEY: []
      parameters:
        - schema:
            type: string
            default: application-json
          in: header
          name: content-type
          required: true
  /api/v2/m/device/rpc/Kegtron.GetWiFiRssi:
    post:
      summary: Get WiFi RSSI RPC POST
      operationId: post-api-v2-m-device-rpc-Kegtron.GetWiFiRssi
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: integer
              examples:
                Example:
                  value: -47
      description: This remote procedure call (RPC) fetches the current WiFi Recevied Signal Strength Indicator (RSSI) as seen by the device. Larger values correspond to stronger signal strength (e.g. -30 is very good whereas -80 is very poor).
      security:
        - DEVICE_PUBLIC_KEY: []
      parameters:
        - schema:
            type: string
            default: application-json
          in: header
          name: content-type
          required: true
  /api/v2/m/device/rpc/Kegtron.CleanMode:
    post:
      summary: Set Cleaning Mode RPC POST
      operationId: post-api-v2-m-device-rpc-Kegtron.CleanMode
      responses:
        '200':
          description: 'true'
      description: |-
        This remote procedure call (RPC) configures the Cleaning Mode for the device.
        - When enabled, measurements are ignored on all ports. Cleaning is enabled for a duration defined by config.cleaningDelay after which time it is automatically disabled.
        - When disabled, all measurements behave normally

        When called, the following shadow values are updated:

        - config_readonly.cleanActive
      security:
        - DEVICE_PUBLIC_KEY: []
      parameters:
        - schema:
            type: string
            default: application-json
          in: header
          name: content-type
          required: true
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                mode:
                  type: number
                  description: '1: enabed, 0: disabled'
              required:
                - mode
        description: Enable/disable cleaning mode using the 'mode' parameter
  /api/v2/m/device/rpc/Kegtron.ResetVolume:
    post:
      summary: Reset Volume RPC POST
      operationId: post-api-v2-m-device-rpc-Kegtron.ResetVolume
      responses:
        '200':
          description: 'true'
      description: |-
        This remote procedure call (RPC) initiates a keg volume reset on the target device for the specificed port. 

        When called, the following shadow values are updated as shown:

        - config_readonly.porti.pulseCnt = 0
        - config_readonly.porti.volDisp = 0
        - config_readonly.porti.volStart = config.volSize
        - config_readonly.porti.dateTapped = current date
      security:
        - DEVICE_PUBLIC_KEY: []
      parameters:
        - schema:
            type: string
            default: application-json
          in: header
          name: content-type
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                port:
                  type: integer
                  maximum: 3
                  description: 'Port number, e.g. port0, port1...'
                  minimum: 0
              required:
                - port
            examples:
              Reset port 1 (user port 2):
                value:
                  port: 1
        description: Port number 0..3 (corresponds to user port 1..4)
  /api/v2/m/device/rpc/Kegtron.ResetKegsServed:
    post:
      summary: Reset Kegs Served RPC POST
      operationId: post-api-v2-m-device-rpc-Kegtron.ResetKegsServed
      responses:
        '200':
          description: 'true'
      description: |
        This remote procedure call (RPC) initiates a reset of the kegs served counter on the target device for the specificed port. 

        When called, the following shadow value is updated as shown:

        - config_readonly.porti.kegsServed = 0
      security:
        - DEVICE_PUBLIC_KEY: []
      parameters:
        - schema:
            type: string
            default: application-json
          in: header
          name: content-type
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                port:
                  type: integer
                  maximum: 3
                  description: 'Port number, e.g. port0, port1...'
                  minimum: 0
              required:
                - port
            examples:
              Reset Port 2 (user port 3):
                value:
                  port: 2
        description: Port number 0..3 (corresponds to user port 1..4)
  /api/v2/m/device/rpc/Kegtron.UserOverride:
    post:
      summary: User Override RPC POST
      operationId: post-api-v2-m-device-rpc-Kegtron.UserOverride
      responses:
        '200':
          description: 'true'
      description: |
        This remote procedure call (RPC) initiates user-iniated overrides of specific shadow values on the target device for the specificed port. This method is used to prevent contention with firmware which can autonomously update these values.

        The following values can be updated via this RPC:

        - config_readonly.porti.dateTapped
        - config_readonly.porti.dateCleaned
        - config_readonly.porti.volStart
      security:
        - DEVICE_PUBLIC_KEY: []
      parameters:
        - schema:
            type: string
            default: application-json
          in: header
          name: content-type
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
                  required:
                    - config_readonly
                  properties:
                    config_readonly:
                      type: object
                      required:
                        - porti
                      properties:
                        porti:
                          type: object
                          description: 'Port number, e.g. port0, port1...'
                          properties:
                            dateTapped:
                              type: string
                              description: Date Format yyyy/mm/dd
                            dateCleaned:
                              type: string
                              description: Date Format yyyy/mm/dd
                            volStart:
                              type: integer
                              description: Keg starting volume in mL
              required:
                - state
            examples:
              Set Port 0 keg starting volume to 10L:
                value:
                  state:
                    config_readonly:
                      port0:
                        volStart: 10000
        description: Replace 'i' with port number 0..3 (corresponds to user port 1..4)
  /api/v2/m/device/data/telemetry-device:
    post:
      summary: Telemetry-Device POST
      operationId: post-api-v2-m-device-data-telemetry-device
      responses:
        '200':
          description: OK
      description: 'Query telemetry for one specfic device. '
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
          description: ''
      security:
        - DEVICE_PUBLIC_KEY: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                params:
                  type: array
                  description: '["StartDateTime", "EndDateTime"]'
                  items:
                    type: string
              required:
                - params
            examples:
              'Query from May 1, 2020 until now':
                value:
                  params:
                    - '2020-05-01'
                    - now
        description: |-
          "params" is an array with three keys:
          * start datetime
          * end datetime

          'datetime' can be any valid SQLite time string. See https://www.sqlite.org/lang_datefunc.html for details.
    parameters: []
  /api/v2/m/device/data/alerts-port:
    post:
      summary: Alerts-Port POST
      operationId: post-api-v2-m-device-data-alerts-port
      responses:
        '200':
          description: OK
      description: 'Query alerts for one specfic device port. '
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
          description: ''
      security:
        - DEVICE_PUBLIC_KEY: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                params:
                  type: array
                  description: '["PortNumber", "StartDateTime", "EndDateTime"]'
                  items:
                    type: string
              required:
                - params
            examples:
              'Query port 0 from May 1, 2020 until now':
                value:
                  params:
                    - '0'
                    - '2020-05-01'
                    - now
        description: |-
          "params" is an array with three keys:
          * port number
          * start datetime
          * end datetime

          'datetime' can be any valid SQLite time string. See https://www.sqlite.org/lang_datefunc.html for details.
    parameters: []
  /api/v2/m/device/data/alerts-device:
    post:
      summary: Alerts-Device POST
      operationId: post-api-v2-m-device-data-alerts-device
      responses:
        '200':
          description: OK
      description: 'Query alerts for all ports on one specfic device. '
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
          description: ''
      security:
        - DEVICE_PUBLIC_KEY: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                params:
                  type: array
                  description: '["StartDateTime", "EndDateTime"]'
                  items:
                    type: string
              required:
                - params
            examples:
              'Query device from May 1, 2020 until now':
                value:
                  params:
                    - '2020-05-01'
                    - now
        description: |
          "params" is an array with two keys:
          * start datetime
          * end datetime

          'datetime' can be any valid SQLite time string. See https://www.sqlite.org/lang_datefunc.html for details.
    parameters: []
  /api/v2/m/device/data/servings-port:
    post:
      summary: Servings-Port POST
      operationId: post-api-v2-m-device-data-servings-port
      responses:
        '200':
          description: OK
      description: 'Query servings for one specfic device port. '
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
          description: ''
      security:
        - DEVICE_PUBLIC_KEY: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                params:
                  type: array
                  description: '["PortNumber", "StartDateTime", "EndDateTime"]'
                  items:
                    type: string
                    description: ''
              required:
                - params
            examples:
              'Query port 0 from May 1, 2020 until now':
                value:
                  params:
                    - '0'
                    - '2020-05-01'
                    - now
        description: |-
          "params" is an array with three keys:
          * port number
          * start datetime
          * end datetime

          'datetime' can be any valid SQLite time string. See https://www.sqlite.org/lang_datefunc.html for details.
    parameters: []
  /api/v2/m/device/data/servings-device:
    post:
      summary: Servings-Device POST
      operationId: post-api-v2-m-device-data-servings-device
      responses:
        '200':
          description: OK
      description: 'Query servings for all ports on one specfic device. '
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
          description: ''
      security:
        - DEVICE_PUBLIC_KEY: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                params:
                  type: array
                  description: '["StartDateTime", "EndDateTime"]'
                  items:
                    type: string
              required:
                - params
            examples:
              'Query device from May 1, 2020 until now':
                value:
                  params:
                    - '2020-05-01'
                    - now
        description: |
          "params" is an array with two keys:
          * start datetime
          * end datetime

          'datetime' can be any valid SQLite time string. See https://www.sqlite.org/lang_datefunc.html for details.
    parameters: []
components:
  schemas:
    port-config:
      title: port-config
      type: object
      description: Port-specific configuration parameters
      properties:
        abv:
          type: number
          description: Alcohol By Volume value % rating
        beaconEna:
          type: integer
          description: Enable flashing beacon for this port
        calOffset:
          type: number
          description: Calibration offset %
        userName:
          type: string
          description: User description of keg attached to this port
        userDesc:
          type: string
          description: User name of keg attached to this port
        drinkSize:
          type: integer
          description: Serving volume in mL. Used for servings remaining estimation.
        ibu:
          type: integer
          description: International Bittering Units rating
        maker:
          type: string
          description: 'Beverage manufacturer (e.g. brewery, winery, etc.)'
        state:
          type: integer
          description: For future use
        style:
          type: string
          description: 'Description of beverage classification (e.g. Pilsner, Merlot, etc.)'
        tapLabel:
          type: string
          description: Customer tap handle label (usually a number)
        volSize:
          type: integer
          description: Keg volume in mL
      x-examples: {}
  securitySchemes:
    DEVICE_PUBLIC_KEY:
      name: access_token
      type: apiKey
      in: query
      description: Insert valid 'DEVICE_PUBLIC_KEY'
    basic-auth:
      type: http
      scheme: basic
      description: 'username:password'
    CUSTOMER_KEY:
      name: access_token
      type: apiKey
      in: query
      description: Insert valid 'CUSTOMER_KEY'
  examples: {}
